@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap');
/* ------ FONDOS DE PANTALLA ------ */
:root {
    --01d: linear-gradient(0deg, rgba(0, 140, 217, 1) 40%, rgba(0, 235, 255, 1) 100%);
    --02d: linear-gradient(0deg, rgba(0, 140, 217, 1) 40%, rgba(0, 235, 255, 1) 100%);
    --03d: linear-gradient(0deg, rgba(75, 103, 121, 1) 40%, rgba(123, 168, 198, 1) 100%);
    --04d: linear-gradient(0deg, rgba(75, 103, 121, 1) 40%, rgba(123, 168, 198, 1) 100%);
    --09d: linear-gradient(0deg, rgba(75, 103, 121, 1) 40%, rgba(123, 168, 198, 1) 100%);
    --10d: linear-gradient(0deg, rgba(75, 103, 121, 1) 40%, rgba(123, 168, 198, 1) 100%);
    --11d: linear-gradient(0deg, rgba(75, 103, 121, 1) 40%, rgba(123, 168, 198, 1) 100%);
    --13d: linear-gradient(0deg, rgba(75, 103, 121, 1) 40%, rgba(123, 168, 198, 1) 100%);
    --50d: linear-gradient(0deg, rgba(75, 103, 121, 1) 40%, rgba(123, 168, 198, 1) 100%);
    --01n: linear-gradient(0deg, rgb(1, 6, 53) 40%, rgba(34, 0, 180, 1) 100%);
    --02n: linear-gradient(0deg, rgb(1, 6, 53) 40%, rgba(34, 0, 180, 1) 100%);
    --03n: linear-gradient(0deg, rgba(48, 41, 78, 1) 40%, rgba(104, 92, 157, 1) 100%);
    --04n: linear-gradient(0deg, rgba(48, 41, 78, 1) 40%, rgba(104, 92, 157, 1) 100%);
    --09n: linear-gradient(0deg, rgba(48, 41, 78, 1) 40%, rgba(104, 92, 157, 1) 100%);
    --10n: linear-gradient(0deg, rgba(48, 41, 78, 1) 40%, rgba(104, 92, 157, 1) 100%);
    --11n: linear-gradient(0deg, rgba(48, 41, 78, 1) 40%, rgba(104, 92, 157, 1) 100%);
    --13n: linear-gradient(0deg, rgba(48, 41, 78, 1) 40%, rgba(104, 92, 157, 1) 100%);
    --50n: linear-gradient(0deg, rgba(48, 41, 78, 1) 40%, rgba(104, 92, 157, 1) 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Maven Pro', sans-serif;
		height: 100%;
	}
	
	.main-container {
		background: var(--01d);
    color: #fff;
    font-size: .5rem;
    display: flex;
		flex-direction: column;
    justify-content: center;
    align-items: center;
		min-height: 100vh;
}

.central-title {
	font-size: 2rem;
	text-align: center;
	margin: 1rem;
}

.section-title {
	font-size: 2rem;
	text-align: center;
	margin: 2rem 0 1rem 0;
}

.current-weather {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    grid-gap: 1rem;
    padding: 1rem;
    text-align: center;
    max-height: 700px;
    max-width: 576px;
}

.city-name-div {
    grid-column: 1 / 3;
    text-align: center;
    font-size: 2rem;
}

.weather-icon-div {
    grid-column: 1 / 3;
}

.weather-icon {
    width: 200px;
}

.temperature-div {
    grid-column: 1 / 3;
    font-size: min(3.5rem, 15vh);
    font-weight: bold;
}

.feels-like-div {
    font-size: min(1.75rem, 10vh);
    grid-column: 1 / 3;
}

.condition-div {
    grid-column: 1 / 3;
    font-size: 1.25rem;
}

.humidity-div,
.pressure-div,
.visibility-div,
.wind-div {
    font-size: 1rem;
}

.forecast {
	display: flex;
	flex-direction: column;
	width: 100vw;
}

.forecast-item {
	text-align: center;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
}

.forecast-icon {
	width: 70px;
}

.forecast-time {
	font-size: 1.5rem;
}

.forecast-temp {
	font-size: 1.5rem;
}

.footer {
	text-align: center;
	padding: 5rem 2rem 1rem 2rem;
	font-size: 1rem;
}

.footer a {
	color: #fff;
	text-decoration: none;
}

.footer img {
	width: 40px;
	filter: invert(1);
}

@media (min-width: 576px) {
    .current-weather {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-gap: 0;
        max-height: 400px;
    }
    .city-name-div {
        grid-column: 1 / 2;
    }
    .weather-icon-div {
        grid-column: 1 / 2;
        grid-row: 2 / 6;
    }
    .temperature-div,
    .feels-like-div,
    .condition-div {
        grid-column: 2 / 3;
    }
    .temperature-div {
        grid-row: 2 / 3;
    }
    .feels-like-div {
        grid-row: 3 /4;
    }
    .condition-div {
        grid-row: 4 / 5;
    }
    .humidity-div,
    .pressure-div,
    .visibility-div,
    .wind-div {
        grid-column: 3 / 4;
    }
    .humidity-div {
        grid-row: 1 / 2;
    }
    .pressure-div {
        grid-row: 2 / 3;
    }
    .visibility-div {
        grid-row: 3 / 4;
    }
    .wind-div {
        grid-row: 4 / 5;
    }
		.forecast {
			flex-direction: row;
			align-items: center;
			justify-content: space-evenly;
			width: 80vw;
		}
		.forecast-item {
			flex-direction: column;
		}
		.section-title {
			margin: 0 0 5rem 0;
		}
}